<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<div id="menu-fondo" (sidenav)="activarMenu()" style="visibility: hidden;">
  
        <div class="menu-grid-info" >
            <div class="menu-separation boletin-top">
            <button id="close"><span class="material-symbols-outlined">close</span></button>
            <p id="menu-phone">LLamanos +34 65436785646</p>
            </div>
            <div id='boletin'class="menu-separation">
                <img id="logo" src="assets/img/chef-logo.png" alt="Logo">
                <p id="boletin-title">Boletin<br> informativo</p>
                <input id='text-input' class="boletin-elemento botones" type="text" placeholder="Tu correo electronico">
                <div class="suscipcion">
                <button id="radio-button"></button>
                <p id="terminos">Acepto que mi direccion de correo electronico sea utilizado para suscribirme en el boletin</p>
            </div>
                <button   id="suscription-btn"type="button" >Suscribir</button>
                <div class="suscipcion">
                <button class="botones redes"><i class="fa-brands fa-facebook-f"></i></button>
                <button class="botones redes"><i class="fa-brands fa-instagram"></i></button>
                </div>
            </div>
            <div class="menu-separation">
                <nav>
                    <a>Login</a>
                    <a>Clasificación</a>
                    <a>Recetas y productos</a>
                </nav>
            </div>
            <div class="menu-separation">
                <nav>
                    <a>Contacto</a>
                    <a>Acerca de nosotros</a>
                    <a>Politica de privacidad</a>
                    <a>Politica de cookies</a>
                </nav>
            </div>
        </div>

      
    </div>

